DROP TABLE tblSubDepartment;
DROP TABLE tblDesignation;
DROP TABLE tblDepartment;
DROP TABLE tblEmployee;

CREATE TABLE tblDepartment (
	Cmp_Id numeric(18, 0) NOT NULL,
	Dept_Id numeric(18, 0) NOT NULL primary key,
	Dept_Def_Id numeric(18, 0) NULL,
	Dept_Code varchar(8) NULL,
	Dept_Name varchar(50) NOT NULL,
	Dept_Desc varchar(300) NULL,
	Login_C_Id numeric(18, 0) NOT NULL,
	CSysDate timestamp NOT NULL,
	Login_U_Id numeric(18, 0) NULL,
	USysDate timestamp NULL,
	Login_D_Id numeric(18, 0) NULL,
	DSysDate timestamp NULL,
	Is_Deleted int NOT NULL,
	Rowguid varchar(64) NOT NULL,
	Form_Id numeric(18, 0) NULL,
	Max_No_Of_Emp int NULL
);


CREATE TABLE tblSubDepartment(
	Cmp_Id numeric(18, 0) NOT NULL,
	SubDepartment_Id numeric(18, 0) NOT NULL primary key,
	SubDepartment_Def_Id numeric(18, 0) NULL,
	SubDepartment_Code varchar(8) NULL,
	SubDepartment_Name varchar(50) NOT NULL,
	Dept_Id numeric(18, 0) NOT NULL,
	SubDepartment_Desc varchar(300) NULL,
	Login_C_Id numeric(18, 0) NOT NULL,
	CSysDate timestamp NOT NULL,
	Login_U_Id numeric(18, 0) NULL,
	USysDate timestamp NULL,
	Login_D_Id numeric(18, 0) NULL,
	DSysDate timestamp NULL,
	Is_Deleted int NOT NULL,
	Rowguid varchar(64) NOT NULL,
	Form_Id numeric(18, 0) NULL
);


CREATE TABLE tblDesignation (
	Cmp_Id numeric(18, 0) NOT NULL,
	Desig_Id numeric(18, 0) NOT NULL primary key,
	Desig_Def_Id numeric(18, 0) NULL,
	Desig_Code varchar(8) NULL,
	Desig_Name varchar(50) NOT NULL,
	Desig_Under_Id numeric(18, 0) NULL,
	Desig_Desc varchar(300) NULL,
	Login_C_Id numeric(18, 0) NOT NULL,
	CSysDate timestamp NOT NULL,
	Login_U_Id numeric(18, 0) NULL,
	USysDate timestamp NULL,
	Login_D_Id numeric(18, 0) NULL,
	DSysDate timestamp NULL,
	Is_Deleted int NOT NULL,
	Rowguid varchar(64) NOT NULL,
	Form_Id numeric(18, 0) NULL,
	Job_Profile text NULL
);


CREATE TABLE tblEmployee (
	Cmp_Id numeric(18, 0) NOT NULL,
	Branch_Id numeric(18, 0) NOT NULL,
	Emp_Id numeric(18, 0) NOT NULL  primary key,
	Emp_Def_Id numeric(18, 0) NULL,
	Emp_Code varchar(8) NULL,
	Emp_Payroll_No varchar(100) NULL,
	Emp_Title varchar(5) NULL,
	Emp_First_Name varchar(50) NULL,
	Emp_Middle_Name varchar(50) NULL,
	Emp_Last_Name varchar(50) NULL,
	Emp_Name varchar(100) NULL,
	Emp_Gender int NOT NULL,
	Emp_Join_Date timestamp NOT NULL,
	Emp_Dept_Id numeric(18, 0) NULL,
	Emp_SubDepartment_Id numeric(18, 0) NULL,
	Emp_Location_Id numeric(18, 0) NULL,
	Emp_Desig_Id numeric(18, 0) NULL,
	Employment_Type int NOT NULL,
	Emp_ReportingManager_Id numeric(18, 0) NULL,
	Emp_Birth_Date timestamp NULL,
	Emp_Religion_Id numeric(18, 0) NULL,
	Emp_Tribe_Id numeric(18, 0) NULL,
	Emp_MaritalStatus_Id numeric(18, 0) NULL,
	Emp_Anneversary_Date timestamp NULL,
	Emp_Children int NOT NULL,
	Emp_Dependents int NOT NULL,
	Emp_Nationality_Id numeric(18, 0) NULL,
	Emp_MotherTongue_Id numeric(18, 0) NULL,
	Emp_Ethnicity_Id numeric(18, 0) NULL,
	Login_C_Id numeric(18, 0) NOT NULL,
	CSysDate timestamp NOT NULL,
	Login_U_Id numeric(18, 0) NULL,
	USysDate timestamp NULL,
	Login_D_Id numeric(18, 0) NULL,
	DSysDate timestamp NULL,
	Is_Active int NOT NULL,
	Is_Deleted int NOT NULL,
	Rowguid varchar(64) NOT NULL,
	Form_Id numeric(18, 0) NULL,
	Paymaster_Cmp_Id numeric(18, 0) NULL,
	Emp_Class_Id numeric(18, 0) NULL,
	Is_Separate int NULL,
	OOINameOfInstitution varchar(100) NULL,
	OOILRNo varchar(50) NULL,
	OOIOccupationDate varchar(20) NULL,
	InsurancePremium float NULL,
	NationalIDPPNo varchar(30) NULL,
	NationalIDCountry varchar(30) NULL,
	NoBenefits boolean NULL,
	NewShiftCode smallint NULL,
	NewShiftFrom timestamp NULL,
	NewWeekOff smallint NULL,
	NewWeekOffFrom timestamp NULL,
	AbsenteesmCalcHrs float NULL,
	OTCalcHrs float NULL,
	BankCode int NULL,
	PensionOPBalanceEmployee float NULL,
	PensionOPBalanceEmployer float NULL,
	ReliefOPBalance float NULL,
	WorkHours float NULL,
	UniversityNo varchar(50) NULL,
	UniversityName varchar(50) NULL,
	PensionPF float NULL,
	DeductInsuranceSalary boolean NULL,
	VoluntaryNSSF float NULL,
	LastJobInKenyaForExpatriate boolean NULL,
	SalaryGradeCode smallint NULL,
	MaxAutoLoanDedAmount float NULL,
	DeductPensionFromSalary boolean NULL,
	IsBlackListed boolean NULL,
	MinMonthlyWorkHrs float NULL,
	MinDailyWorkHrs varchar(5) NULL,
	MinSatWorkHrs varchar(5) NULL,
	Tribe varchar(20) NULL,
	OT1RateCalcHrs float NULL,
	OT2RateCalcHrs float NULL,
	EnforceMinWorkHrs boolean NULL,
	UseProratedSalary boolean NULL,
	UseDOJ boolean NULL,
	ProrataDate timestamp NULL,
	ExcludeSunday boolean NULL,
	ExcludeSaturday boolean NULL,
	CostCenterCode smallint NULL,
	PensionOPBalanceVoluntary float NULL,
	GLCODE varchar(10) NULL,
	LeaveOpbAsOnDate timestamp NULL,
	SACCONO varchar(30) NULL,
	ChargeNSSFByEmployer boolean NULL,
	UseDailyBasic boolean NULL,
	FixedNSSFAmount float NULL,
	FixedNHIFAmount float NULL,
	Target float NULL,
	EmpLeaveBasic float NULL,
	MasterCode smallint NULL,
	MasterTwoCode smallint NULL,

	Emp_IsBlackList int NOT NULL,
	Emp_BlackListReason varchar(100) NULL,
	ICardNo varchar(20) NULL,
	Category_Id numeric(18, 0) NULL,
	Emp_WeekOff_Type int NOT NULL,
	Company_Calendar_Id numeric(18, 0) NULL,
	Org_Unit_Id numeric(18, 0) NULL
);



