cck {
	com.sun.security.auth.module.LdapLoginModule required
	userProvider="ldap://172.100.3.35:389/ou=People,o=cck.go.ke,dc=cck,dc=go,dc=ke"
	userFilter="(&(uid={USERNAME})(objectClass=inetOrgPerson))"
	bindPrincipal="cn=Directory Manager"
	bindCredentials="Imis1goke"
	bindAuthenticationType="simple"
	useSSL=false
	debug=false;
};


